# Copy this file to storage/tetra-dev.env and replace CHANGE_ME locally.
# Do not commit storage/tetra-dev.env.

TETRA_IAM_URI=http://localhost:3335
TETRA_ENROLLMENTS_URI=http://localhost:3338
TETRA_PRODUCTS_URI=http://localhost:3336
IMPORTS_OAUTH_CLIENT_SECRET=CHANGE_ME_IMPORTS_SERVICE_SECRET
TETRA_MEMBER_MIGRATION_SERVICE_SCOPE=iam:provision-users
